<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant)%></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Content</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <% Review.select { |element| element.restaurant_id == @restaurant.id }.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.content %></td>
      <td><%= review.rating %></td>
    </tr>
    <% end %>
  </tbody>
</table>
